			<?php foreach($activeStocks as $active) {
      				$post = "BSE";
      				if($active['Stock']['nse_flag'] == 1)
      					$post = "NSE";
      				
      			?>
      			<tr> 
      				<td><?php echo $active['stock_companies']['company'] . " - " . $post; ?> </td>
      				<td align="right" width="80px">
      					<img src="/img/spacer.gif" onclick="unsubscribeScript(<?php echo $active['Stock']['id'];?>);" class="otherSprite oSPos16" title="Pause alert" alt="Pause alert">
      					<?php if($active['Stock']['news_flag'] == 0) {?>
      					<img src="/img/spacer.gif" onclick="subscribeScriptNews(<?php echo $active['Stock']['id'];?>);" title="Start news" alt="Start news" class="otherSprite oSPos17">
      					<?php } else {?>
      					<img src="/img/spacer.gif" onclick="unsubscribeScriptNews(<?php echo $active['Stock']['id'];?>);" title="Stop news" alt="Stop news" class="otherSprite oSPos20">
      					<?php } ?>
      					<img src="/img/spacer.gif" onclick="deleteScript(<?php echo $active['Stock']['id'];?>);" title="Delete" alt="Delete" class="otherSprite oSPos18">
      				</td>
      			</tr>
      			<tr id="<?php echo "code". $active['Stock']['id'] ?>" class="nobg" style="display:none">
      				<td colspan="2" style="border:1px solid #000; padding:0px 0px 10px 10px;">
      					<div>
							<div class="rightFloat appClose"><a href="javascript:void(0);" onclick="closeAppBox(<?php echo $active['Stock']['id'] ?>);">x</a></div>
							<div id="codeDiv<?php echo $active['Stock']['id'] ?>" style="padding:10px 10px 0px 0px;">			
				      
				  			</div>
				  		</div>
      				</td>
      			</tr>
      			<?php } ?>
      			<?php if($total == 0 && $first == 1) {?>
      				<tr class="nobg">
      				<td colspan="2"  style="padding:5px 0;">All your active scripts will be displayed here</td>
      			</tr>
      			<?php }?>
      			<?php if($total == $count && $first == 1) {?>
      			<tr class="nobg">
      				<td><input type="hidden" id="numAct" value="<?php echo $total;?>"/></td>
      				<td style="text-align:right" id="viewMoreAct"><a href="javascript:void(0);" onclick="moreActiveStocks()">View More</a></td>
      			</tr>
      			<?php }?>
      			
      			<?php if($first == 0 && $total >= $count) {?>
      			<script>
      				$("numAct").value = <?php echo $total; ?>;
      			</script>
      			<?php } ?>
      			
      			<?php if(count($activeStocks) == 0 && $first == 0) {?>
      			<script>
      				$("viewMoreAct").innerHTML = '&nbsp;';
      			</script>
      			<?php } ?>
      			