<ul>
 <?php foreach($companies as $company){
 		$id = $company['stock_companies']['nse_flag'] . $company['stock_companies']['nse_code'] . "_" . $company['stock_companies']['bse_flag'] . $company['stock_companies']['bse_code'];
 ?>
 	<li id="<?php echo $id; ?>"><?php echo htmlspecialchars($company['stock_companies']['company']);?></li>
<?php } ?>
</ul>