<div class="appColLeftBox">
      			<div class="appTitle">Stock Alert Created Successfully</div>
                <div class="marginTop">
                    <b><?php echo $company; ?></b> is successfully created.<br/>You will be charged <?php if($price >= 1) {?><span><img class="rupee1" src="/img/rs.gif"></span><?php echo $price; } else { echo (100 * $price) . " paise "; } ?> per day </div>
    
                    <div  class="marginTop">Your present balance(<span><img class="rupee1" src="/img/rs.gif"></span><?php echo $balance; ?>) is sufficient for <?php echo $days; ?> days.
        <div class="marginTop">
            <strong>
            <?php echo $ajax->link( 
                'Create another stock', 
                array('action' => 'createAlert'),
                array('update' => 'innerDiv','onclick' => 'changeInnerTabClass($("createAlert"));','complete' => '$("createAlert").removeClassName("loader")' )
            ); ?>
            </strong> or <strong>
                <?php echo $ajax->link( 
                    'Check out our other perosnal alerts', 
                    array('controller' => 'apps', 'action' => 'getApps'),
                    array('update' => 'pageContent')
                    ); ?> 
            </strong>
        </div>
 </div>
<script> reloadBalance('<?php echo $balance; ?>'); </script>
               