			<?php foreach($inActiveStocks as $inactive) {
      				$post = "BSE";
      				if($inactive['Stock']['nse_flag'] == 1)
      					$post = "NSE";
      				
      			?>
      			<tr> 
      				<td><?php echo $inactive['stock_companies']['company'] . " - " . $post; ?> </td>
      				<td style="text-align:right" width="60px">
      					<img src="/img/spacer.gif" onclick="subscribeScript(<?php echo $inactive['Stock']['id'];?>);" class="otherSprite oSPos19" title="Subscribe the script" alt="Subscribe the script">
      					<img src="/img/spacer.gif" onclick="deleteScript(<?php echo $inactive['Stock']['id'];?>);" title="Delete Script Forever" alt="Delete Script Forever" class="otherSprite oSPos18">
      				</td>
      			</tr>
      			<tr id="<?php echo "code". $inactive['Stock']['id'] ?>" class="nobg" style="display:none">
      					<td colspan="2" style="border:1px solid #000; padding:0px 0px 10px 10px;">
	      					<div>
								<div class="rightFloat appClose"><a href="javascript:void(0);" onclick="closeAppBox(<?php echo $inactive['Stock']['id'] ?>);">x</a></div>
								<div id="codeDiv<?php echo $inactive['Stock']['id'] ?>" style=" padding:10px 10px 0px 0px;">			
					      
					  			</div>
					  		</div>
      				
      				</td>
      			</tr>
      			<?php } ?>
      			<?php if($total == 0 && $first == 1) {?>
      				<tr class="nobg">
      				<td colspan="2" style="padding:5px 0;">You currently have no inactive scripts. <br />All your Inactive scripts will be displayed here</td>
      			</tr>
      			<?php }?>
      			<?php if($total == $count && $first == 1) {?>
      			<tr class="nobg">
      				<td><input type="hidden" id="numInAct" value="<?php echo $total;?>"/></td>
      				<td style="text-align:right" id="viewMoreInAct"><a href="javascript:void(0);" onclick="moreInActiveStocks()">View More</a></td>
      			</tr>
      			<?php }?>
      			
      			<?php if($first == 0 && $total >= $count) {?>
      			<script>
      				$("numInAct").value = <?php echo $total; ?>;
      			</script>
      			<?php } ?>
      			
      			<?php if(count($inActiveStocks) == 0 && $first == 0) {?>
      			<script>
      				$("viewMoreInAct").innerHTML = '&nbsp;';
      			</script>
      			<?php } ?>