		
   			<?php if($days != 0) {?>
      		<p class="appMsg">
      			Your present balance(<span><img class="rupee1" src="/img/rs.gif"></span><?php echo $balance; ?>) is sufficient for 
<?php echo $days; ?> days.
      		</p>
      		<?php } ?>
      		<table cellspacing="0" cellpadding="0" border="0" class="dataTable2" >
      			<tr>
      				<th colspan="2">Active Stock Alerts</th>
      				
      			</tr>
      			<?php
					echo $this->requestAction('/stocks/getActiveStocks/0');
      			?>
      		</table>
      		<table cellspacing="0" cellpadding="0" border="0" class="dataTable3" >
      			<tr>
      				<th colspan="2">Paused Stock Alerts</th>
      			</tr>
      			<?php
					echo $this->requestAction('/stocks/getInActiveStocks/0');
      			?>
      		</table>
		