<div style="width:330px;">
	<div class="popupTitle color2 popupTitlePadd"></div>
  		<div style="padding:0px 0px 0px 10px">
  		
  		<fieldset>
			<legend>Enter Your 10 Digit Mobile Number</legend>
			
			<div class="field" style="margin-top:10px;">
				<label for="userMobile" style=" display:block; float:left; width:94px; padding-top:10px;">Mobile No.</label><input type="text" id="userMobile" tabindex="1" style="width: 200px;" />
 			</div>
            <div class="field">				
				<label for="userPassword" style=" display:block; float:left; width:94px; padding-top:10px;">Password</label><input tabindex="2" type="password" id="userPassword" style="width: 200px;"  value=""/>
			</div>
			
			<div class="field" style="margin-top:20px;">
              <div id="loginSignIn">
              <input type="submit" onclick="eurologin();" value="Login" class="retailBut enabledBut" url="" tabindex="3" id="sub">
              </div>
	       	</div>
	       	<div class="field">
               <label style=" display:block; float:left; width:94px;">&nbsp;</label><span id="UloginErrMessage" class="errMessage"></span> 
	       	</div>
                
		</fieldset>
		
  		</div>
	</div>
</div>	
<script>
	document.getElementById('userMobile').focus();
	
	function eurologin(){
		window.location = "/apps/euroLogin";
	}	
</script>