<div style="width:330px;" id="innerDiv">
  	<div style="padding:0px 0px 0px 10px">
  		
  		<fieldset>
			
			<div class="field">
				<label for="userMobile" style=" display:block; float:left; width:94px;">User Mobile</label><input type="text" id="userMobile" tabindex="1" style="width: 200px;" />
 			</div>
            <div class="field">				
				<label for="provider" style=" display:block; float:left; width:94px;">Provider</label>
				<select id="provider" tabindex="2">
					<option>Select Provider</option>
					<option>Airtel</option>
					<option>Vodafone</option>
					<option>Trump-MTNL-Mumbai</option>
					<option>Reliance (CDMA)</option>
					<option>Reliance (GSM)</option>
					<option>MTS</option>
					<option>BSNL</option>
					<option>Idea</option>
					<option>Tata Indicom</option>
					<option>Aircel</option>
					<option>DOCOMO</option>
					<option>Loop</option>
					<option>Uninor</option>
					<option>Indicom</option>
					<option>Videocon</option>
					<option>Virgin-CDMA</option>
					<option>Virgin-GSM</option>
				</select>
			</div>
			<div class="field">				
				<label for="circle" style=" display:block; float:left; width:94px;">Circle</label>
				<select id="circle">
					<option value="">Select Circle</option>
					<option value="ARTAP#AP">Andhra Pradesh</option>
					<option value="ARTAS#ASM">Assam</option>
					<option value="ARTBH#BIH">Bihar</option>
					<option value="ARTCH#CHE">Chennai</option>
					<option value="ARTDL#DEL">Delhi</option>
					<option value="ARTMH#MAH">Goa</option>
					<option value="ARTGJ#GUJ">Gujarat</option>
					<option value="ARTHR#HAR">Haryana</option>
					<option value="ARTHM#HP">Himanchal Pradesh</option>
					<option value="AIRJK#JK">Jammu&amp;kasmir</option>
					<option value="ARTKK#KK">Karnataka</option>
					<option value="ARTKR#KER">Kerala</option>
					<option value="ARTKO#KOL">Kolkata</option>
					<option value="ARTMP#MP">Madhya Pradesh</option>
					<option value="ARTMH#MAH">Maharashtra</option>
					<option value="ARTMU#MUM">Mumbai</option>
					<option value="ARTNE#NE">Northeast</option>
					<option value="ARTOR#ORI">Orissa</option>
					<option value="ARTPB#PUN">Punjab</option>
					<option value="ARTRJ#RAJ">Rajasthan</option>
					<option value="ARTTN#TN">Tamil Nadu</option>
					<option value="ARTUE#UPE">Uttar Pradesh(E)</option>
					<option value="ARTUW#UPW">Uttar Pradesh(W)</option>
					<option value="ARTWB#WB">West Bengal</option>
				</select>
			</div>
			<div class="field">				
				<label for="amount" style=" display:block; float:left; width:94px;">Amount</label>
				<input tabindex="4" type="text" id="amount" style="width: 200px;"  value=""/>
			</div>
			
			<div class="field" style="margin-top:20px;">
              <div id="loginSignIn">
              <input type="submit" onclick="euroSubmit();" value="Submit" class="retailBut enabledBut" url="" tabindex="5" id="sub">
              </div>
	       	</div>
	       	<div class="field">
               <label style=" display:block; float:left; width:94px;">&nbsp;</label><span id="UloginErrMessage" class="errMessage"></span> 
	       	</div>
                
		</fieldset>
	</div>
</div>	
<script>
	document.getElementById('userMobile').focus();
	
	function euroSubmit(){
		document.getElementById('innerDiv').innerHTML = "SUCCESS";
	}
</script>