
<div>
	<div id="">Welcome to Employee Benefit System<br/><br/></div>
	<div id="innerDiv">
					<?php echo $ajax->link( 
    				'View plan info', 
    				array('action' => 'marshInteract',1,1,$mobile),
    				array('class' => 'sel' ,'update' => 'innerDiv','onclick' => '','complete' => '' )
					); ?><br/>
					<?php echo $ajax->link( 
    				'Intimate claim', 
    				array('action' => 'marshInteract',1,2,$mobile),
    				array('class' => 'sel' ,'update' => 'innerDiv','onclick' => '','complete' => '' )
					); ?><br/>
					<?php echo $ajax->link( 
    				'Track claim status', 
    				array('action' => 'marshInteract',1,3,$mobile),
    				array('class' => 'sel' ,'update' => 'innerDiv','onclick' => '','complete' => '' )
					); ?><br/>
					<?php echo $ajax->link( 
    				'Find Network Hospitals', 
    				array('action' => 'marshInteract',1,4,$mobile),
    				array('class' => 'sel' ,'update' => 'innerDiv','onclick' => '','complete' => '' )
					); ?><br/>
					<?php echo $ajax->link( 
    				'Get Imp contact details', 
    				array('action' => 'marshInteract',1,5,$mobile),
    				array('class' => 'sel' ,'update' => 'innerDiv','onclick' => '','complete' => '' )
					); ?><br/>
					<?php echo $ajax->link( 
    				'Get claims related docs', 
    				array('action' => 'marshInteract',1,6,$mobile),
    				array('class' => 'sel' ,'update' => 'innerDiv','onclick' => '','complete' => '' )
					); ?>
	</div>
	<div style="display:none" id="goback"><a href='/apps/marshAPIDemo/<?php echo $mobile;?>'>Go Back</a></div>
	<!--
	<div><?php echo $form->create('marsh'); ?>
		<input type="hidden" name="data[session]" value="<?php echo $session_id;?>">
		<input type="hidden" name="data[mobile]" value="<?php echo $mobile;?>">
		<input tabindex="1" type="text" id="inp" name="data[inp]" value="">
		<div id="sub_butt">
			<?php //echo $ajax->submit('spacer.gif', array('id' => 'sub', 'tabindex'=>'2','url'=> array('controller'=>'apps', 'action'=>'marshInteract'), 'class' => 'otherSprite oSPos7', 'after' => '$("inp").value="";', 'update' => 'innerDiv')); ?>
		</div>
		<?php echo $form->end(); ?>
	</div>-->
</div>