<div class="box2">
	<div class="rightFloat strng" style="padding: 10px;" id="regData"><input type="button" value="Register Now to Use" class="css3But1" onclick="register();"/></div>
    <h1 class="color2"><?php echo $name; ?></h1>
</div>
<div class="loginCont">
  <div>
    <div class="leftFloat dashboardPack">
      <div class="catList">
        <ul id='innerul'>
		  <li> <a class="hList" href="javascript:void(0);">All Personal Alerts</a>
          	<div class="sublist">
          		<ul>
          		<?php foreach($allApps as $app) {
          			  $id = 'app' . $app['SMSApp']['id'];
          		?>
          			<li name='innerli'>
          				<a class="<?php if($controller == $app['SMSApp']['controller_name'] ) echo "sel"; ?>" href="/apps/view/<?php echo $app['SMSApp']['url']; ?>"><?php echo $app['SMSApp']['name']; ?> </a>
          			</li>
          		<?php } ?>
          		</ul>
          	</div>	
          </li>					
        </ul>
      </div>
      
      <div style="display:block">
      	<div class="color4 fntSz19" style="position:relative;">
      		<span class="testimonial" style=" top:35px;">"</span>PNR Alert helped me track my PNR and inturn I saved my precious time doing the thesis i am required to. Thanks SMS Tadka for this service.
      		<span class="testimonial" style="bottom:-17px;position:absolute">"</span>
      	</div>
      	<div style="padding-top:10px;text-align:right;">
      		<div class="color3 fntSz17 strng rightFloat">
      			<img src="/img/spacer.gif" width="60px" height="60px" style="float:left; margin-right:5px;">
      			<div style="overflow:hidden; float:left;"><div>-&nbsp;Astha&nbsp;Gulatee</div><div>College&nbsp;Student</div></div>
      			<div class="clearLeft"></div>
      		</div> 
      	</div>
      </div>
    </div>
    
    <div style="margin-left:223px" id="innerDiv">
      	<?php
			echo $this->requestAction('/'.$controller.'s/about');
      	?>
    </div>
    <br class="clearLeft" />
 </div>
 
 <?php echo $this->element("horizontal_bar"); ?>
 <div class="catRow " style="padding-top:30px;">
    <?php echo $this->element('categories');?>
 </div>