<div class="field">
<fieldset>
<div class="box2">
	<div class="header">Customer Support</div>
    <div class="Blanstate">&nbsp;</div>
    <div style="padding:10px;">
    	<p class="field"><b>PROBLEM?</b><br>
<img src="/img/customerSupport.gif" style="float:right"/>
<p>
Contact our customer service at the following number between 10AM and 7PM:
<br>
<b>09769597418</b><br/>
<br><br></p>
<p><span class="strng">SMS:</span> HELP &lt;your query&gt; to 0922 317 8889</p>
<br>
or write to us at:
<br>
<a href="mailto:help@smstadka.com">help@smstadka.com</a>
<br><br>
<b>Please note :</b> State your SMSTadka registered mobile number in all communications.
    	</p>
		<p class="field">Thank You.</p>
</div>
</div>
</fieldset>
</div>