<div style="width:760px;"> 
    <div>       
        <div>
          <div class="box2" style="margin:0px;">
            <!-- <div class="header ie6Fix2">Active Packages</div> -->
            <div class="pack2" style="margin:0px 10px 15px 0px;" >
            	<table border="0" cellpadding="0" cellspacing="0" width="100%" summary="Transactions" class="rechargeTable">
        			<caption class="header">
			        Online DTH Recharge
			        </caption>
            	 	<tbody><tr class="noAltRow"><td>
                                    
                                    <div class="rechargeForm clearfix" style="display: block;">
    <form method="post" action="javascript:void(0)" name="mobileForm" id="mobileForm">
        <input type="hidden" value="DTH" name="type" id="type">
        <ul class="form mobile-recharge clearfix">
            <li class="number">
<!--                <label for="mobile_no">+91</label>-->
                <input type="text" maxlength="12" value="" placeholder="DTH no." name="dthNumber" id="dth_no">
                
            </li>
            <li class="operator" id="s_provider_wrap">
                <select class="validate[required] freecharge-change-button" name="operator" id="s_provider">
                    <option value="">Select operator</option>
                    <?PHP foreach($operators as $operator){?>

                                <option value="<?PHP echo $operator['Package']['id'] ;?>"><?PHP echo $operator['Package']['name'] ;?></option>

                            <?PHP } ?>
                </select>

                

            </li>
            <li class="amount" id="s_selectAmount">
                <input type="text" maxlength="4" value="" placeholder="amount"  name="amount" id="amount">
                
            </li>
            <li class="number">
                <input type="text" maxlength="10" value="" placeholder="mobile no." name="mobileNumber" id="mobile_no">
            </li>

            <li class="recharge-button">
  <?php echo $ajax->submit('spacer.gif', array('tabindex' => '4','url'=> array('controller'=>'packages', 'action'=>'recharge'), 'class' => 'otherSprite oSPos7', 'after' => 'showLoader2("mobileForm")', 'update' => 'innerDiv','condition' => "rechargeValidation('dth')")); ?>
               
               <!-- <input type="submit" class="button buttonTwo" id="mobile-button" tabindex="3" alt="V" value="Proceed"> -->
            </li>
        </ul>
    
</form>

    
</div>
                                    
                                    
						</td></tr>
                        </tbody>
			 		
				</table>
          	</div>
        </div>
    </div>
</div>
<br class="clearRight" />
</div>
<script>$$('table.ListTable tr:nth-child(odd)').invoke("addClassName", "altRow");</script>