<!-- <div class="bigTitle titleHorsntlCrsal">Package Gallery</div> -->
<div class="title2 color4 strng">Most Popular Packages</div>
<div class="title2Sub color2">Select your favaourite packages from wide options available and subscribe to them.</div>
<!-- Content Popular Packs -->
	<?php echo $this->element("horizontal_carousel",array('num'=>1,'packs'=>$popularPacks)); ?>
	<?php // echo $this->element("horizontal_carousel",array('num'=>3,'packs'=>$latestPacks)); ?>
	<?php // echo $this->element("horizontal_carousel",array('num'=>4,'packs'=>$recommendedPacks)); ?>