<div class="loginCont">
  <div>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <div class="leftFloat dashboardPack">
      <div class="catList">
        <ul id='innerul'>
        <?php $passClass = '';$accClass = ''; $detailClass = 'sel'; $actClass= 'sel';
           if(isset($par) && $par == 'pass') {
           	$passClass = 'sel';
           	$detailClass = '';
           	$accClass = '';
           	$actClass= '';
           }
           
           if(isset($par) && $par == 'acc') {
           	$passClass = '';
           	$detailClass = '';
           	$accClass = 'sel';
           	$actClass= '';
           }
           ?>
           <li name='innerli'><?php echo $ajax->link( 
    				'Mobile Recharge ', 
    				array('action' => 'getMobRecharge'),
    				array('id' => 'mobRecharge', 'class' => $actClass ,'update' => 'innerDiv','onclick' => 'changeInnerTabClass(this);','complete' => '$("actPackages").removeClassName("loader")' )
					); ?> </li>
		  <li name='innerli'><?php echo $ajax->link( 
    				'Dth Recharge', 
    				array('action' => 'getDthRecharge'),
    				array('id' => 'dthRecharge', 'class' => $accClass ,'update' => 'innerDiv','onclick' => 'changeInnerTabClass(this);','complete' => '$("expPackages").removeClassName("loader")' )
					); ?> </li>                       
          
		  
        </ul>
      </div>
    </div>
    
    <div style=" float:left;" id="innerDiv">
     <?php echo $this->render('/elements/mob_recharge'); ?>
    </div>
    <br class="clearLeft" />
 </div>