<div>
	<div class="tabs">
		<ul id="navTabs">
			<li class="sel"><a href="">Reports</a></li>
			<!--<li class=""><a href="">My Profile</a></li>-->
		</ul>
		<div class="clearLeft"></div>
	</div>
</div>