<?php
$typeId = $this->Session->read('Auth.User.group_id'); //.$info['name'];
if($typeId == RETAILER)
{ $shop = $info['shopname'];
$userType = "Retailer";
 }
else if ($typeId == DISTRIBUTOR)
{ $shop = $info['company']; 
$userType = "Distributor";}
else if ($typeId == SUPER_DISTRIBUTOR)
{ $shop = $info['company'];
$userType = "Super Distributor"; }
?>
<div class="rightFloat">
	<div>
	<?php if ($this->Session->read('Auth.User')) { ?>
		<div class="headerLinks1">
			<div class="globalLinks strng rightFloat">
			 	<ul>
					<li style="border-right:0px; padding-right:15px !important;font-weight:normal;">Welcome +91 <?php echo $this->Session->read('Auth.User.mobile'). " - <i>$shop</i> (<strong>$userType</strong>)";?>,</li>
			    	<li class="lastElement" style="padding-right:0px !important;margin-right:0px !important;"> <?php echo $this->Html->link(__('Logout', true), array('controller' => 'shops', 'action' => 'logout')); ?></li>
			  	</ul>
			</div> 	
		  	<br class="clearRight" />
		</div>
<!-- <br class="clearRight" /> -->
<div id="UserBalance" class="globalLinks strng fntSz17" style="text-align:right; float:right; padding-top:50px;">
 Balance : <span><img class='rupee1' src='/img/rs.gif' align="absMiddle" style="margin-bottom:3px;"/></span><?php echo sprintf('%.2f', $info['balance']);?>
</div>
	<?php } ?>
	</div>
</div>