
    <div class="leftFloat dashboardPack">
      <div class="catList">
        <ul id='innerul'>
        	 <li>
        	 <a class="hList" href="javascript:void(0);"><p>
        	 	<?php echo 'Profile';?>
        	 	</p>
        	 </a>
          	
        	<div class="sublist">
        		<ul>
        			<li name='innerli'>
        				<a href="/shops/changePassword" class="<?php if($side_tab == 'password') echo 'sel';?>">Change Password</a>
        			</li>
        			<?php if($_SESSION['Auth']['User']['group_id'] == RETAILER) { ?>
        			<li name='innerli'>
        				<a href="/shops/setSignature" class="<?php if($side_tab == 'sign') echo 'sel';?>">Set Your Signature</a>
        			</li>
        			<?php } ?>
        		</ul>
        	</div>
        	</li>
		</ul>
    </div>
  </div>  
  