

ol, ul {
    list-style: none outside none;
    margin-bottom: 20px;
}

ol {
    list-style: decimal outside none;
}
ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px;
}
ul.square {
    list-style: square outside none;
}
ul.circle {
    list-style: circle outside none;
}
ul.disc {
    list-style: disc outside none;
}
img.fluid, img.scale-with-grid {
    height: auto;
    max-width: 100%;
}
.button, .button:visited, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.ie7 .button, .ie7 button, .ie7 input[type="submit"], .ie7 input[type="reset"], .ie7 input[type="button"] {
    line-height: 24px;
    padding: 3px 10px;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background: -moz-linear-gradient(center top , #DFDFDF 5%, #EDEDED 100%) repeat scroll 0 0 #DFDFDF;
}
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    position: relative;
    top: 1px;
}
.buttonOne, .buttonOne:visited, input.buttonOne {
    background: -moz-linear-gradient(center top , #77D42A 5%, #5CB811 100%) repeat scroll 0 0 #77D42A;
    border: 1px solid #268A16;
    box-shadow: 0 1px 0 0 #CAEFAB inset;
    color: #306108;
    text-shadow: 1px 1px 0 #AADE7C;
}
.buttonOne:hover, input.buttonOne:hover {
    background: -moz-linear-gradient(center top , #5CB811 5%, #77D42A 100%) repeat scroll 0 0 #5CB811;
}
.buttonOne:active, input.buttonOne:active {
    position: relative;
    top: 1px;
}
.buttonTwo, .buttonTwo:visited, input.buttonTwo {
    background: -moz-linear-gradient(center top , #63B8EE 5%, #468CCF 100%) repeat scroll 0 0 #63B8EE;
    border: 1px solid #3866A3;
    box-shadow: 0 1px 0 0 #BEE2F9 inset;
    color: #FFFFFF;
    text-shadow: none;
}
.buttonTwo:hover, input.buttonTwo:hover {
    background: -moz-linear-gradient(center top , #63B8EE 5%, #63B8EE 100%) repeat scroll 0 0 #63B8EE;
}
.buttonTwo:active, input.buttonTwo:active {
    position: relative;
    top: 1px;
}
.buttonThree, .buttonThree:visited, input.buttonThree {
    background: -moz-linear-gradient(center top , #FFC477 5%, #FB9E25 100%) repeat scroll 0 0 #FFC477;
    border: 1px solid #EEB44F;
    box-shadow: 0 1px 0 0 #FCE2C1 inset;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #CC9F52;
}
.buttonThree:hover, input.buttonThree:hover {
    background: -moz-linear-gradient(center top , #FFC477 5%, #FFC477 100%) repeat scroll 0 0 #FB9E25;
    color: #FFFFFF;
}
.buttonThree:active, input.buttonThree:active {
    position: relative;
    top: 1px;
}
.button.full-width, button.full-width, input.full-width[type="submit"], input.full-width[type="reset"], input.full-width[type="button"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    width: 100%;
}

.small-button {
    font-size: 12px;
    padding: 3px 20px;
    position: relative;
    top: -1px;
}
.ie7 .small-button {
    overflow: visible;
    width: auto;
}
form {
    
    margin-top: 10px;
}
fieldset {
    margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 2px rgba(230, 230, 230, 0.6) inset;
    color: #333333;
    font: 12px Tahoma,sans-serif;
    margin: 0;
    outline: medium none;
    padding: 4px 8px;
    width: 210px;
}
select {
    padding: 0;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
    border-color: #D0E2F6;
    box-shadow: 0 0 2px rgba(0, 180, 255, 0.6);
    color: #444444;
}
textarea {
    min-height: 60px;
}
label, legend {
    display: block;
    font-size: 1em;
    font-weight: bold;
}
select {
    width: 220px;
}
input[type="checkbox"] {
    display: inline;
}
label span, legend span {
    color: #444444;
    font-size: 13px;
    font-weight: normal;
}
.red {
    color: red;
}
.green {
    color: green;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #CCCCCC;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    color: #EEEEEE;
}
input.placeholder, textarea.placeholder {
    color: #CCCCCC;
    font-weight: normal;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}
.number{
    width: 30px;
}
.clearfix li{
   
    height: 40px;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.lightbox {
    max-width: 760px;
    padding: 10px;
}
.lightbox h3 {
    border-bottom: 1px solid #ADADAD;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
}
.lightbox h3 span {
    float: right;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
.lightbox h3 span a {
    text-decoration: none;
}
.lightbox h4 {
    font-size: 16px;
    font-weight: bold;
}
.lightbox h6 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}
.lightbox p {
    margin-bottom: 10px;
}
.ie .lightbox {
    width: 760px;
}

.text-soft {
    font-weight: normal;
}
.text-hard {
    font-weight: bold;
    padding: 0 0 8px;
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-color-1 {
    color: #005098;
}
.text-color-2 {
    color: #5D8001;
}
.text-color-3 {
    color: #A60000;
}
.rechargeTable{
    padding: 10px;
    background: whitesmoke;
    width: 260px;
}


body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/img/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/img/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/img/error.png');
}