@charset "utf-8";
body, p, ul, ol, li, h1, form { margin:0px; padding:0px; }
ol { margin-left:22px; }
ol.info  { padding-bottom:15px; }
.info p { padding-bottom:20px; }
ol.info li { padding-bottom:12px; }

body {font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:0.95em; color:#000;background:#FFFFFF}

img { border:0px; }
a, a:visited { text-decoration:none; color:#0167a9; }
a:hover { background:none; }
a img { border:0px; }


/* header */

.mHeader { padding-bottom:20px; padding-top:5px; margin:0 10px; }
.mLogo{width:117px; height:42px; float:right}

#footer { padding:5px; border-top: 1px solid #EC724A; background:#efefef; margin-top:10px; font-size:0.9em; text-align:center;  }
#footer a { padding: 3px; }

.mContainer { padding:5px 0px; margin:0 10px; clear:both}

p {
	padding:0px; margin:0px;
}
.paging { text-align:right;font-size:0.9em;margin-top:20px;}

.subject { font-weight:bold; font-size:1.4em; margin-top:10px}
.subject span { font-size:0.75em; font-weight:normal;   }
.info { padding-top:15px; }
.info a { font-size:0.9em;font-weight:bold; }
.info a.readMore{font-size:1em !important;font-weight:normal;}
.info div{display:inline;}