<div id="innerBlock" class="ie6Fix2 inlineBlockElement">
  <div style="padding:0px 20px 20px 10px;">
    <div class="rightFloat"> <span id="back"> </span> </div>
    <span> <?php echo $ajax->link( 
			'Packages', 
			array('controller' => 'users', 'action' => 'package' ), 
			array( 'update' => 'pageContent')
			); ?> </span> &nbsp;>>&nbsp; <span id="catName"> </span> &nbsp;>>&nbsp; <span> <?php echo $packageData['Package']['name']?> </span> </div>
  <?php echo $this->element('recent_messages',array('recentMsgs' => $recentMsgs));?>
  <div class="leftCol5">
    <div>
      <div class="leftFloat leftCol4"> <?php if($packageData['Package']['id'] != '159') { echo $html->image("/img/packages/package_".$packageData['Package']['id'].".gif?123", 
          		array( "alt" => $packageData['Package']['name'],
          				"style" => "width:110px;height:110px;"
    					)
		); }else{ ?> <img width="110px" height="110px"  src="/img/jlp.jpg" />  <?php }?> </div>
      <div class="rightCol4 packageDetailBig">
        <div class="packName"><?php echo $packageData['Package']['name'];?></div>
        <!-- <div><span>SMS Keyword:</span> <?php echo $packageData['Package']['code'];?> </div> -->
        <br />
        <div><span>Description:</span><br />
          <div class="lineHeight1"><?php echo $packageData['Package']['description'] ;?></div><br/><br/><p class="description">To get Daily SMS dose of <?php echo $packageData['Package']['name']; ?>, Subscribe Now!</p></div>
        <!-- <div>
            <div class="starRatingBase leftFloat">
              <div class="starRating">&nbsp;</div>
            </div>
            <div>Rating</div>
          </div> -->
        <div>&nbsp;</div>
        <div><span>Price:</span> <span><img class='rupee1' src='/img/rs.gif'/></span><?php echo floor($packageData['Package']['price']);?> for <?php echo $packageData['Package']['validity'];?> days</div>
        <div><span>Frequency:</span> <?php echo $objGeneral->getFrequency($packageData['Package']['frequency']);?></div>
        <div class="smsCode"><span>SMS code:</span> <?php echo $packageData['Package']['code'];?> <a href="javascript:void(0);" onclick="defineSMSCode('smsCode','<?php echo $packageData['Package']['code'];?>');"> [?] </a></div>
		<div id="smsCode" class="fntSz12" style="display:none"></div>	
        <br />
        <div>
        <?php 
          
          		if(!empty($userData)){ ?>
        <a href="javascript:void(0);" onclick="subPackage('<?php echo $objMd5->encrypt($packageData['Package']['id'],encKey);?>','unsub');"> Unsubscribe </a>
        <?php 				
          		}
          		else { ?>
        <a href="javascript:void(0);" onclick="subPackage('<?php echo $objMd5->encrypt($packageData['Package']['id'],encKey);?>','sub');" class="buttSprite leftFloat"><img src="/img/spacer.gif" class="butSubscribeDefault" /></a>
        
        <?php }?>
        </div><div style="height:32px;">&nbsp;</div>
        <div>
        <?php if($packageData['Package']['trial_days'] > 0) {?>
             <span> &nbsp; or</span> <a href="javascript:void(0);" style="font-size:12px; text-decoration:underline;" onclick="subPackageTrial('<?php echo $objMd5->encrypt($packageData['Package']['id'],encKey) ?>','sub',this);">Try Free</a>
        <?php } ?>
        </div>
      </div>      
      <br class="clearLeft" />      
      <?php if(in_array($packageData['Package']['id'],$moneyBack)){  ?>
      <p style="padding-top:20px;font-size:8pt;"><img src="/img/spacer.gif" class="day7Back">SMSTadka offers you 7 days money back guarantee. We are confident that you will be hooked to our packages once you subscribe them.
<br>
However, If you wish to discontinue the package within seven days of your first subscription, you can get the credits back to your SMSTadka account. All you need to do is unsubscribe the package within 7 days.</p>
      <?php } ?>
    </div>
  </div>
  <br class="clearRight" />
</div>
