<style>
.my_img {
	max-height: 450px;
	/* Resize the image for IE6 */
	height: expression(this.height > 450 ? 450: true);
}
</style>
<div class="subject">
	<span style="float:right">
		<?php echo $objGeneral->dateTimeFormat($data[0]['pkg_data_short_urls']['created']);?>
	</span>
	<?php echo $data[0]['packages']['name']; ?>
</div>

<?php foreach($feeds as $feed) {?>
<div style="font-size:16px"><?php echo $feed['pkg_data_urls']['title']; ?></div>
<div class="info" style="padding-bottom:20px;">		
	<div>
		<?php 
			if($feed['pkg_data_urls']['type'] == 0){
		?>
			<img src="<?php echo $feed['pkg_data_urls']['url']; ?>" class="my_img">	
		<?php
			}else{
		?>
		<?php 
		$url = str_replace("http://www.youtube.com/watch?v=", "http://www.youtube.com/embed/", $feed['pkg_data_urls']['url']);	
		$url = str_replace("http://www.youtube.com/v/", "http://www.youtube.com/embed/", $url);
		?>

		<!-- <object width="400" height="360">
			<param name="movie" value="<?php echo $url; ?>?version=3"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="<?php echo $url; ?>?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="400" height="360"></embed>
		</object> -->
			
		<iframe type="text/html" width="400" height="320" src="<?php echo $url; ?>" frameborder="0" allowFullScreen>
		</iframe>
		 <br/>
		 <?php $url = str_replace("http://www.youtube.com/embed/", "http://www.youtube.com/watch?v=", $url); ?>
         <div style="margin-top:20px;">You can directly <a href="<?php echo $url; ?>">watch video here </a> </div>
		
		<?php 
			}
		?>		 
	</div>
</div>
<?php } ?>
<div style="clear:both;margin-top:20px"></div>