
<div class="box2">
	<div class="rightFloat strng" style="padding: 10px;" id="regData"> <input type="button" value="Register Now to Subscribe" class="css3But1" onclick="register();"/></div>
    <h1 class="color2"><?php echo $categoryMapping[$parCat]. " - " . $packageData['Package']['name'];?></h1>
</div>
<div style="padding-top:10px">

<?php echo $this->element('recent_messages',array('recentMsgs' => $recentMsgs));?>
 <div class="leftFloat dashboardPack" style="margin-right:5px;width:204px;">
	      <div class="catList">
	        <ul id='innerul'>
	           <?php echo $this->element('sideNav',array('resultCategories' => $ocatData,'category' => $catIds));?>  
	        </ul>
	      </div>
   	 	</div>
    
  <div class="leftCol5" style="padding-left:224px;">
    <div class="inlineBlockElement">
      <div class="breadcrumb" style="padding-left:10px;"> 
      
      	<?php echo $this->Html->link(__('Home', true), array('controller' => 'users','action' => 'view')); ?> 
      	&nbsp;>>&nbsp;
      	<?php echo $this->Html->link(__($categoryMapping[$parCat], true), array('controller' => 'categories','action' => 'view',$objGeneral->nameToUrl($categoryMapping[$parCat]))); ?> 
      	&nbsp;>>&nbsp;
      	<?php echo $this->Html->link(__($categoryMapping[$catIds], true), array('controller' => 'categories','action' => 'view',$objGeneral->nameToUrl($categoryMapping[$parCat]),$objGeneral->nameToUrl($categoryMapping[$catIds]))); ?> 
      	&nbsp;>>&nbsp;
      	<?php echo $packageData['Package']['name'];?>
      	
      </div>
      	
      <div class="leftFloat leftCol4">
      	<?php if($packageData['Package']['id'] == 159){ ?>
      	<img width="110px" height="110px"  src="/img/jlp.jpg" />
      	<?php }else{ ?>
     	<img border="0" style="width:110px;height:110px;" title="<?php echo $packageData['Package']['name'];?>" alt="<?php echo $packageData['Package']['name'];?>" src="/img/packages/package_<?php echo $packageData['Package']['id'];?>.gif?123">
     	<?php } ?>
      </div>
      <div class="rightCol4 packageDetailBig">
      
        <h1 class="packName"><?php echo $packageData['Package']['name'];?></h1>
        <!-- <div><span>SMS Keyword:</span> <?php echo $packageData['Package']['code'];?> </div> -->
        <!-- <div style="display:inline-block;padding-top:5px;"><span style="display:block; float:left;padding-top:2px;padding-right:5px;">Category:</span>
         
  		<?php $name = $categoryMapping[$catIds]; ?>
          <div class="taggLink taggLink1">
            <div class="taggLinkBG">
              <div class="taggLinkBorder">
                <div class="taggLinkCont">
                  <?php
          		echo $this->Html->link(__($name, true), array('controller' => 'categories','action' => 'view',$objGeneral->nameToUrl($name))); 
          	 ?>
                </div>
              </div>
            </div>
          </div>
          <?php
          	 
          		 ?>
          <br class="clearLeft" />
        </div> -->
        <br />
        <div><span style="font-weight:bold">Description:</span><br />
          <p><?php echo $packageData['Package']['description'];?></p><br/><span class="description">To get Daily SMS dose of <?php echo $packageData['Package']['name']; ?>, Subscribe Now!</span></div>
        <!-- <div>
            <div class="starRatingBase leftFloat">
              <div class="starRating">&nbsp;</div>
            </div>
            <div>Rating</div>
          </div> -->
        <div>&nbsp;</div>
        <div><span>Price:</span> <span><img class='rupee1' src='/img/rs.gif'/></span><?php echo floor($packageData['Package']['price']);?> for <?php echo $packageData['Package']['validity'];?> days</div>
        <div><span>Frequency:</span> <?php echo $objGeneral->getFrequency($packageData['Package']['frequency']);?></div>
		<div class="smsCode"><span>SMS code:</span> <?php echo $packageData['Package']['code'];?> <a href="javascript:void(0);" onclick="defineSMSCode('smsCode','<?php echo $packageData['Package']['code'];?>');"> [?] </a></div>
		<div id="smsCode" class="fntSz12" style="display:none"></div>		  									  
		  									  <div style="font-size:0.85em"><br/></div>
        <div style="display:inline-block">
        <?php 
          
          		if(!empty($userData)){ ?>
        <a href="javascript:void(0);" onclick="subPackage('<?php echo $objMd5->encrypt($packageData['Package']['id'],encKey);?>','unsub');"> Unsubscribe </a>
        <?php 				
          		}
          		else { ?>
        <a href="javascript:void(0);" onclick="subPackage('<?php echo $objMd5->encrypt($packageData['Package']['id'],encKey);?>','sub');" class="buttSprite leftFloat"><img src="/img/spacer.gif" class="butSubscribeDefault" alt ="Subscribe now"/></a>
        <?php }?>
        
        <div class="clearLeft"></div>
        <?php if($packageData['Package']['trial_days'] > 0) {?>
             <span> &nbsp; or</span> <a href="javascript:void(0);" style="font-size:12px;text-decoration:underline; margin-top:5px;" onclick="subPackageTrial('<?php echo $objMd5->encrypt($packageData['Package']['id'],encKey) ?>','sub',this);">Try FREE</a>
        <?php } ?>
        </div>
        
      </div><br class="clearLeft" />
      <?php if(in_array($packageData['Package']['id'],$moneyBack)){  ?>
       <p style="margin-top:20px;font-size:8pt;"><img src="/img/spacer.gif" class="day7Back">SMSTadka offers you 7 days money back guarantee. We are confident that you will be hooked to our packages once you subscribe them.
<br><br>
However, If you wish to discontinue the package within seven days of your first subscription, you can get the credits back to your SMSTadka account. All you need to do is unsubscribe the package within 7 days.</p> 
      <?php } ?>
    </div>
   
  </div>
  <br class="clearBoth" />
  <?php echo $this->element("horizontal_bar"); ?>

</div>
<div>&nbsp;</div>
