<script>
function countChars(id){
	var str = $('transl'+id).value;
	$('left'+id).innerHTML=str.length;
	$('hid'+id).value=str.length;
}

function Ajaxupdate(cat_div,tag_div,id,msgId){
	var url = '/categories/getSubCategories';
	new Ajax.Updater(cat_div, url, {
  			parameters: {catid: id},
  			evalScripts:true
		});
		
	var url = '/tags/getTags';
	new Ajax.Updater(tag_div, url, {
  			parameters: {catid:id,msgid:msgId},
  			evalScripts:true
		});	
		
}
</script>
<div id="divAddMsg">
		<form id="formAddMsg" name="formAddMsg" action="/messages/submitMessage">		
		<br>		
		<br>
		<textarea onkeyup="countChars('AddMsg');" onkeydown="countChars('AddMsg');" 
		class="input textarea" id="translAddMsg" 
		name="data[Message][content]" style="height: 150px; width: 502px; line-height: 1.5em; 
		font-family: Arial,Helvetica,sans-serif; font-size: 14px; direction: ltr;" autocomplete="off"></textarea>
		<br>
		
		<small><i>
                  <span>
                  	<span id="leftAddMsg">0</span>
                    <input type="hidden" id="hidAddMsg" name="data[Message][charCount]" value="">
                    </input>&nbsp;characters
                  </span>
                </i></small>
		<br> <br>
		<div>
		Title: <input type="text" value="" name="data[Message][title]"><br>
		<!--Choose Category: <select id="CategoryAddMsg"  onchange="Ajaxupdate('ocategoryAddMsg','otagAddMsg',this.options[this.selectedIndex].value,'AddMsg')">
							<option  value="0"> Select </option>
							<?php //foreach($categories as $category) {?>
								<option value="<?php //echo $category['categories']['id'];?>"><?php //echo $category['categories']['name']?></option>
							<?php //} ?>
						</select>
			-->			
			
			Choose Category: <select onchange="Ajaxupdate('ocategoryAddMsg','otagAddMsg',this.options[this.selectedIndex].value,'AddMsg')" id="CategoryAddMsg">
							<option value="0"> Select </option>
															<option value="1">SMS Jokes</option>
															<option value="10">SMS Quotes</option>
															<option value="18">SMS Shayari</option>
															<option value="17">SMS Wishes</option>
													</select>
						<div id="ocategoryAddMsg"></div>
						<div id="otagAddMsg"></div>
		</div> 
		<div >
			My Rating: <select name="data[Message][rating]" id="RateAddMsg">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
			</select>				
		 </div>
		 Add to Package: <br>
<select id="packages" multiple="multiple" name="data[Package][]">
<?php  foreach($packs as $pk) {?>
<option value="<?php echo $pk['Package']['id']; ?>"><?php echo $pk['Package']['name']; ?></option>
<?php } ?>
</select>
		<br>
		<div id="subMsg" style="margin-top:10px;">
		<?php echo $ajax->submit(
					'Submit', 
					array('url'=> array('action'=>'submitMessage'), 
										'after' => '$("subMsg").innerHTML = "Submitted";',
										'update' => 'divAddMsg')); ?>
		</div>								
		
			
	</div>