
<table border="0">
	<tr>
		<td align="center" colspan="2"><h3>On Mobile Data (<?php echo $title; ?>)<h3></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td><b>Content (<?php echo count($data);?>)</b></td>
	</tr>
<?php
	foreach($data as $msg)
	{
?>
		<tr>
			<table border = "0">
			<tr>
			<td width="50%" valign="top" align="left"><?php echo nl2br($msg['onmobile_datas']['data']); ?></td>
			<td width="20%" valign="top" align="left" color="#0167A9"><?php echo "(" . strlen(nl2br($msg['onmobile_datas']['data'])) . " chars)" ; ?></td>
			<!-- <td width="20%" valign="top" align="left" style="color:#0167A9"> <?php if($msg['onmobile_datas']['delivered_flag'] == 0) echo "Not Delivered"; else echo "Already Delivered";?></td> -->
			</tr>
			</table>
		</tr>
		<tr><td colspan="2"><hr /></td></tr>
		
<?php		
	}
?>
</table>