<?php if($userSession){ ?>
<div>
<div class="tabs">
  <ul id='navTabs'>
  		<li>
  		<a href="<?php echo SITE_NAME; ?>users/view">Dashboard</a>
		</li>
  		<li class="sel">
  		<a href="#">Coupon Code</a>  		
		</li>		
		<!-- <li id="UserBalance" class="balance" style="position:relative; top:-20px; right:5px;">Balance : <span><img class='rupee1' src='/img/rs.gif'/></span><?php echo number_format($objGeneral->getBalance($_SESSION['Auth']['User']['id']),2,'.','');?> </li> -->
		<br class="clearLeft" />
  </ul>

</div>
</div> 
<?php }else{ ?> 	
	<div class="box2">
	    <h1 class="color2"><?php echo "Free SMSTadka Credits!"; ?></h1>
	</div>
<?php } ?>	
	<?php //echo $this->element('rightPackages',array('packData' => $packageData)); ?>
	
	<div>
		<?php if($userSession){ ?>
		<div class="loginCont">
			<div style="float:right;display: block;margin-top:15px;margin-left:10px;"><img src="/img/testimonial.gif"> </div>	
			<div class="fntSz21 color3 strng">Share SMSTadka coupon codes, and earn FREE credits!</div>
			<div>Below is your coupon code.</div>	
			<div style="padding:20px;margin:10px 0; background:#F1F1F1; border:1px solid #ccc;display:inline-block;">Coupon Code : <b><?php echo $refCodeShare; ?></b></div>
			<div>You can share it with your friends, family, workmates or anybody on the internet. If people redeem the coupon code shared by you, on every redemption, you get Rs.<?php echo SHARER_CREDIT; ?> instantly in your account. The more you share, the more you get. There is absolutely no limit to earn these credits! Share it everyday and increase your chances.</div>
			
			<br/><div class="fntSz21 color3 strng">Share it on social media.</div>
			<div>You can directly share the below URL on Facebook, Twitter or on any other social media.</div>
					<div>Below is a sample message that you could post along with the link... <br/><b>"Redeem to earn SMSTadka FREE credits & subscribe from more than 150+ SMS packages <br/>and personalized services. @ <?php echo $bitlyURL; ?>"</b></div>
			<div style="padding:20px;margin:10px 0; background:#F1F1F1; border:1px solid #ccc;display:inline-block;"><?php echo $bitlyURL; ?></b></div>
			
			
			<br/><div class="fntSz21 color3 strng">Use the below easy-to-use plugin</div>
			<div>Share your coupon code on multiple media from one place. It's simple and easy.</div>
			<br/>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e4d2b3e68a51c6c"></script>
				<!-- AddThis Button END -->
		</div>	
		<?php }else{ ?>
		
		<div class="fntSz21 color3 strng">Enjoy host of exciting services!</div>
			<div style="float:right;display: block;margin-top:15px;margin-left:10px;"><img src="/img/testimonial.gif"> </div>	
			<div>Redeem the below coupon code and get Rs.<?php echo REDEEM_AMT; ?> SMSTadka FREE credits!</div>	
			<div style="padding:20px;margin:10px 0; background:#F1F1F1; border:1px solid #ccc;display:inline-block;">Coupon Code : <b><?php echo $refCodeShare; ?></b> </div>
			<div>You can even earn more. It's very simple. You have to create your own coupon code and share it with your friends, family, workmates or anybody on the internet. If people redeem the coupon code shared by you, on every redemption, you get Rs.<?php echo SHARER_CREDIT; ?> instantly in your account. <br/><br/>The more you share, the more you get. There is absolutely no limit to earn these credits! Share it everyday and increse your chances.
			<br /><br />So don't miss this opportunity. Just <a onclick="register();" href="javascript:void(0);">register with us</a>, redeem the coupon code and start using exciting SMSTadka services right away.
			<br/><a onclick="register();" href="javascript:void(0);" class="retailBut enabledBut strng">Register &amp; Redeem Now!</a>
			<br><br>If you are already an SMSTadka user,
			<br/><a onclick="loginWin();" href="javascript:void(0);" class="retailBut enabledBut strng">Login &amp; Redeem Now!</a>
			</div>
			<br/><br/>
		<?php } ?>
	</div>
	<br class="clearRight" />
	<?php echo $this->element("horizontal_bar"); ?>
	<div class="catRow rowDivider">
	<?php echo $this->element('categories');?>
	</div> 
	
	<input type="hidden" value="<?php echo $refCodeShare; ?>" id="refCouponCode" name="refCouponCode">