
<div>
	<div class="box2">
		<div class="rightFloat strng" style="padding: 10px;" id="regData"> <input type="button" value="Register Now" class="css3But1" onclick="register();"/></div>
	    <h1 class="color2"><?php echo $message['Category']['name']; ?></h1>
	    <div class="clearRight" /></div> 
	</div>
	<div>
		<?php echo $this->element('rightPackages',array('packData' => $packageData)); ?>
		<div class="leftCol">
			<div class="rightFloat" style="width:520px;">
				<div style="margin-top:10px;">
					<script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 468x15, created 7/29/11 */
google_ad_slot = "3059867206";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
				</div>
				<div class="box2 ie6Fix2">
			    	<div class="header1">
			    		<div id="message">
			    			<?php if(isset($prevUrl)) {?>
								<span class="leftFloat">
								<?php echo $this->Html->link(__('<<', true), array('controller'=>'messages','action' => 'view',$catUrl,$prevUrl)); ?>
								</span>
							<?php } else {?>
								<span class="leftFloat lightText">
								&lt;&lt;
								</span>	
							<?php } ?>
							<?php if(isset($nextUrl)) {?>
								<span class="rightFloat">
								<?php echo $this->Html->link(__('>>', true), array('controller'=>'messages','action' => 'view',$catUrl,$nextUrl)); ?>
								</span>
							<?php } else {?>
								<span class="rightFloat lightText">
								&gt;&gt;
								</span>	
							<?php } ?>		
							<h1 class="msgH1"><?php echo $message['Message']['title']; ?><!-- &nbsp;&nbsp;<iframe src="http://www.facebook.com/plugins/like.php?href=<?php echo SITE_NAME.'messages/facebook/'.$message['Message']['url']; ?>&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe> --> </h1>
						</div>
			    	</div>
			        <div class="bottSpace">
			        	<div class="ie6Fix2">
					        <div class="inlineBlockElement">
			                <div class="SampJokesBG">
			                	<div class="rightFloat rightCol1 actionLinks1" style="padding-top:5px;">
			                    	<?php echo $this->element('message_footer',array('id' => $message['Message']['id'],'url'=>$message['Message']['url']));?>
			                    </div>
			                    <div class="leftCol1" style="border-right:1px solid #efefef;padding-top:5px;padding-bottom:5px;">                        
			                        <div class="SampJokesFull" style="background:#ffffff; padding:4px; padding-left:0px; margin-bottom:5px;">
			                        	<?php echo $message['Message']['content']; ?>
									</div>
			    					<div class="tagged">Category: 
			    						<?php echo $this->Html->link(__($message['Category']['name'], true), array('controller'=>'categories','action' => 'view',$objGeneral->nameToUrl($parentCat),$objGeneral->nameToUrl($message['Category']['name']))) ?>
			    					</div>
			    					
			    					<?php if(!empty($message['Tag'])){ ?>
			                        <div class="tagged ie6Fix2"> 
			                            <div class="leftFloat"> Tagged: </div>
			                            <div style="margin-left:50px;">
			                                <?php  $i=0; foreach($message['Tag'] as $tag) { if($i < 6) {?>
			                                <div class="taggLink taggLink1">
			                                  <div class="taggLinkBG">
			                                    <div class="taggLinkBorder">
			                                      <div class="taggLinkCont"><?php  echo $this->Html->link(__($tag['name'], true), array('controller' => 'tags','action' => 'view',$tag['url'])) ?></div>
			                                    </div>
			                                  </div>
			                                </div>
			                                <?php  } else break; $i++;} ?>                                
			                                <br class="clearLeft" />
			                            </div>
			                            <div class="clearLeft"></div>                                 		              		
			                        </div>
			                    	<?php } ?>
								</div>
			                    <br class="clearRight" />
			                </div>
			              	</div>
			            </div>
			        </div>
			    </div>
			    <div style="margin-left:20px;margin-bottom:20px;">
			    <script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 468x60, created 8/2/11 */
google_ad_slot = "5376473178";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
			    </div>
				<div class="box2 ie6Fix2">
			    	<div class="header">Similar Messages</div>
			        <div>
			        	<div class="ie6Fix2">
					        <div class="cont">
					        	<div class="SampJokes">
			                    	<ul style="padding-left:16px;">
			                    		<?php foreach($simMessages as $sim_mess) {?>
			                        		<li>
			                        			<?php echo $this->Html->link(__($sim_mess['Message']['title'], true), array('controller'=>'messages','action' => 'view',$catUrl,$sim_mess['Message']['url'])); ?>
			                        		</li>
			                            <?php } ?>
			                        </ul>
			                    </div>		        	
			              	</div>
			            </div>
			        </div>
			    </div>
			    
		    </div>
		    <div style="margin-right:520px;">
		    	<div class="leftFloat" style="width:160px;">
					<div style="margin-top:10px;margin-bottom:20px;">
			      		<script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 160x600, created 7/29/11 */
google_ad_slot = "9421201945";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
					</div>
				</div>
		    </div>
		    <div class="clearBoth" /></div>
		</div>
		<div class="clearRight" /></div> 
	</div>
	
	<div class="catRow rowDivider">
	<?php echo $this->element('tagCloud',array('tagCloud' => $tagCloud)); ?>
	<?php echo $this->element("horizontal_bar"); ?><br/>
		<?php echo $this->element('categories');?>
	</div> 
	<div>&nbsp;</div>
</div>