<div>
	<?php echo $this->element('shop_upper_tabs',array('tob_tab' => 'setting'));?>
    <div id="pageContent" style="min-height:500px;position:relative;">
    	<div class="loginCont">
    		<?php echo $this->element('shop_side_profile',array('side_tab' => 'password'));?>
    		<div id="innerDiv" class="leftFloat">
	  			<?php echo $this->element('change_password'); ?>
   			</div>
   			<br class="clearLeft" />
 		</div>
    	
    </div>
 </div>
<br class="clearRight" />
</div>