<div>
    <?php //echo $this->element('shop_upper_tabs',array('tob_tab' => 'activity'));?>
    <div id="pageContent" style="min-height:500px;position:relative;">
        <div class="loginCont">
            <?php //echo $this->element('shop_side_activities',array('side_tab' => 'allretailer'));?>
            <div id="innerDiv">
                <?php //echo $this->element('allRetailers'); ?>	 
                <div style ="font:10px">
                <?php foreach($vendorsOutGoing as $key => $vo){ ?>	 
                    <table class="ListTable" width="100%" border="1" style="border-collapse:collapse;font-size: 14px;">
                        <thead style="font-weight: bold; background: none repeat scroll 0 0 #F3F3F3">
                            <tr>
                                <td colspan="3" ><?php echo $key ; ?>	 Report </td>                            
                            </tr>
                            <tr>
                                <td align="center">Status</td>
                                <td align="center">Count</td>
                                <td align="center">Percentage(%)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($vo as $k => $v){ ?>
                                
                             <?php if($k == "MSG"){ ?>
                                <tr>
                                    <td align="right" colspan="3" style="font-size: 12px;color: red;" ><?php echo $v; ?></td>                                   
                                </tr>
                            <?php }else{ ?>
                                <tr >
                                    <td align="center"><?php echo $v['status'] ; ?></td>
                                    <td align="center"><?php echo $v['count'] ; ?></td>
                                    <td align="center"><?php echo $v['per'] ; ?></td>
                                </tr>
                            <?php }?>
                                
                                
                            <?php } ?>
                            
                                
                        </tbody>
                    </table>
                <?php } ?>
                </div>
            </div>
            <br class="clearLeft" />
        </div>

    </div>
</div>
<br class="clearRight" />
</div>