<!--<div style="padding-left:5px;">Add data to grp2</div>-->
<div class="appClose rightFloat"><a href="javascript:void(0);" onclick="addToContact('<?php echo $flId; ?>')">X</a></div>
<?php if(count($groupList)>0){ ?>
<table class="dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;">
	<tr class="nobg">
		<th width="20px"><input type="checkbox" onclick="selectAllGrpMem(this,'nonConGrpDiv_<?php echo $flId; ?>','contactName');"></th>
		<th>Group Name</th>
	</tr>
</table>
<div class="friendList" id="nonConGrpDiv_<?php echo $flId; ?>">
<table class="ListTable dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;">	
	<tbody>
	<?php $i=0; foreach($groupList as $glist){ if($glist['grouplists_friendlists']['id'] != '')continue;  ?>
	<tr <?php if (!($i%2)) echo 'class="altRow"'; else echo 'class="nobg"'; ?>>
		<td width="20px"><input name="contactName" type="checkbox" value="<?php echo $glist['grouplists']['id']; ?>"></td>
		<td><?php echo $glist['grouplists']['name']; ?></td>
	</tr>
	<?php $i++; } ?>	
	</tbody>
</table>
<input type="button" onclick="addGrpToCon('nonConGrpDiv_<?php echo $flId; ?>',<?php echo $flId; ?>);"  value="Add to this Group" class="css3But4" tabindex="6">
</div>
<?php }else{ ?>
<table class="dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;">
	<tr class="nobg">
		<td><?php if($grpCount > 0){ ?>This contact is part of all the groups.<?php }else{ ?>No groups found <?php } ?></td>
	</tr>
</table>
<?php } ?>
<script>$$('table.ListTable tr:nth-child(odd)').invoke("addClassName", "altRow");</script>