<!--<div style="padding-left:5px;">Add data to grp2</div>-->
<div class="appClose rightFloat"><a href="javascript:void(0);" onclick="addToGroup('<?php echo $groupId; ?>')">X</a></div>
<?php if(count($groupList)>0){ ?>
<table class="dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;">
	<tr class="nobg">
		<th width="20px"><input type="checkbox" onclick="selectAllGrpMem(this,'nonGrpMemDiv_<?php echo $groupId; ?>','contactName');"></th>
		<th>Name</th>
		<th width="90px">Mobile No.</th>
	</tr>
</table>
<div class="friendList" id="nonGrpMemDiv_<?php echo $groupId; ?>">
<table class="dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;">	
	<tbody>
	<?php $i=0; foreach($groupList as $glist){ if($glist['grouplists_friendlists']['id'] != '')continue; ?>
	<tr <?php if (!($i%2)) echo 'class="altRow"'; else echo 'class="nobg"'; ?>>
		<td width="20px"><input name="contactName" type="checkbox" value="<?php echo $glist['friendlists']['id']; ?>"></td>
		<td><?php echo $glist['friendlists']['nickname']; ?></td>
		<td width="90px"><?php echo $glist['friendlists']['mobile']; ?></td>
	</tr>
	<?php $i++; } ?>	
	</tbody>
</table>
<input type="button" onclick="addConToGrp('nonGrpMemDiv_<?php echo $groupId; ?>',<?php echo $groupId; ?>);" value="Add" class="css3But4" tabindex="6">
</div>
<?php }else{ ?>
<table class="dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;">
	<tr class="nobg">
		<td><?php if($conCount > 0){ ?>All your contacts are present in this group.<?php }else{ ?>No contacts found <?php } ?></td>
	</tr>
</table>
<?php } ?>