<div style="border:1px solid #000; padding:2px; padding-top:0px; padding-right:0px; background:#fff;">
							  		<div class="appClose rightFloat"><a href="">X</a><!--Add <?php //echo $friend['Friendlist']['nickname']; ?> to Group--><div class="clearRight"></div></div>
							  		<div class="friendList">
							  		
							  		<table class="dataTable2" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0px;background:#fff">
							  			<tr class="nobg">
							  				<th width="5%"><input type="checkbox"></th>
							  				<th>Group Name</th>
							  				
							  			</tr>
							  			<tbody>
							  			<tr>
							  				<td><input type="checkbox"></td>
							  				<td>Arya</td>
							  				
							  			</tr>
							  			<tr>
							  				<td><input type="checkbox"></td>
							  				<td>Arya</td>
							  				
							  			</tr>
							  			</tbody>
							  		</table>
							  		</div>
							  		<input type="image" onclick="appRemAddFriend('nickName','friendMobile');" class="otherSprite oSPos7" src="/img/spacer.gif" tabindex="6">
							  	</div>