<div>  
        <div class="box2" style="padding-bottom:10px;">
          <div id="regData" class="rightFloat strng" style="padding:10px"><input type="button" value="Register Now to Subscribe" class="css3But1" onclick="register();" /></div>
          <h1 class="color2"><?php echo $categoryData['Category']['name'];?><span style="font-size:0.8em"></span></h1><!-- <div class="header"></div> -->

        </div>
        
        <div class="leftFloat dashboardPack" style="margin-right:5px;">
	      <div class="catList">
	        <ul id='innerul'>
	          <?php echo $this->element('sideNav',array('resultCategories' => $resultCategories,'category' => $category,'count' => $count));?> 
	        </ul>
	      </div>
   	 	</div>
        
        <input type="hidden" id="packageCount" value=<?php echo $count;?>>
   		<input type="hidden" id="category" value=<?php echo $category;?>>
   		
        
   		 <div style="margin-left:210px;" id="filterPackages"> 
   			<?php echo $this->element('packages',array('packData' => $packageData, 'page' => $page,'count' => $count,'bcrumb' => '1','limit' => $limit,'layout' => $layout));?>
   		</div>

<!-- Content Popular Packs Most Popular -->
	<div class="clearBoth"></div>
	<!-- <div class="bigTitle titleHorsntlCrsal">Most Popular Packages</div> -->
	<?php // echo $this->element("horizontal_carousel",array('num'=>1,'packs'=>$popularPacks)); ?>
	<?php echo $this->element("horizontal_bar"); ?><div>&nbsp;</div>
</div>