<div>

<?php //$paginator->options(array('update' => 'messageContent'));?>

<div class="box2">
		 <?php if(!isset($_SESSION['Auth']['User'])) { ?>
			<div id="regData" class="rightFloat strng" style="padding:10px"><input type="button" value="Register Now" class="css3But1" onclick="register();" /></div>
          <?php } ?>
          <h1 class="color2"><?php echo $categoryData['Category']['name'];?></h1>
          <div class="breadcrumb1">
        	<?php echo $this->Html->link(__('Home', true), array('controller' => 'users','action' => 'view')); ?>
        	<?php  if(isset($categoryLink)) { echo "&nbsp;>>&nbsp;";
        	echo $this->Html->link(__(str_replace('Sms', 'SMS', $categoryName), true), array('action' => 'view',$categoryLink)); 
        	} ?>
        	<?php echo "&nbsp;>>&nbsp;" . $categoryData['Category']['name']; ?>
          </div>
          <?php if($categoryType == 'cat') { ?>
          <div class="cont" style="height:100% !important;  height/**/:100%;">
            <ul class="listCategory">
              <?php $i = 0;  while(!empty($categoryData['Category'][$i])) {  ?>
            	<li>
				<?php echo $this->Html->link(__($categoryData['Category'][$i]['name'], true), array('action' => 'view',$objGeneral->nameToUrl($categoryData['Category']['name']), $objGeneral->nameToUrl($categoryData['Category'][$i]['name']))) ?></li>
           	  <?php $i++; } ?>
            </ul>
            <br class="clearLeft" />
          </div>
          <?php } ?>
        </div>
	
	
	<div>
		
	  <?php 
	    if($categoryType == 'scat') {
	    	echo $this->element('rightPackages',array('packData' => $packageData,'categoryName' => $categoryName,'otherCatData' => $otherCatData,'tagCloud' => $tagCloud)); 
	    }
	  	else {
	  		echo $this->element('rightPackages',array('packData' => $packageData,'tagCloud' => $tagCloud));
	  	}
	  ?>
      
      <div class="leftCol">       
      	<div class="rightFloat" style="width:520px;">
      	<!-- All content -->
      		<div style="margin-left:20px;">
      		<script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 468x15, created 7/28/11 */
google_ad_slot = "5729264238";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
      	</div>
      	
        <div class="box2 bottSpace" id='messageContent'>
          <?php $j=0; foreach($messageData as $message) { $j++;?>
          		
		    <div class="SampJokesRow  ie6Fix2">
		        <div class="SampJokesBG">
		        <!-- Problem -->
		          <div style="font-weight:bold; color:#004B91; font-family: sans-serif , arial, serif;">
		          	<?php echo $this->Html->link(__($message['Message']['title'], true), array('controller' => 'messages','action' => 'view',$objGeneral->nameToUrl($categoryData['Category']['name']),$message['Message']['url']), array('rel'=>'nofollow')); ?>
		          </div>
		          <p class="SampJokes"><?php echo stripslashes($message['Message']['content']); ?> </p>
		          <div class="SampJokesLinks actionLinks2" style="padding-bottom:10px;">
                  	<?php echo $this->element('message_footer',array('id' => $message['Message']['id'],'url'=>$message['Message']['url'])); ?>
                  	<div class="clearLeft"></div>
                  </div>
                <!-- problem ends -->
              		<?php if(!empty($message['Tag'])){ ?>
                    <div class="tagged ie6Fix2"> 
                        <span class="leftFloat"> Tagged : </span>
                        <div style="margin-left:50px;">
							<?php $i=0; foreach($message['Tag'] as $tag) { if($i < 6) {?>
                            <div class="taggLink taggLink1">
                              <div class="taggLinkBG">
                                <div class="taggLinkBorder">
                                  <div class="taggLinkCont"><?php  echo $this->Html->link(__($categoryData['Category']['keyword'].": ".$tag['name'], true), array('controller' => 'tags','action' => 'view',$objGeneral->nameToUrl($tag['name']))) ?></div>
                                </div>
                              </div>
                            </div>
                            <?php } else break; $i++;} ?>                                
                            <!-- <br class="clearLeft" /> -->
                        </div>
                        <div class="clearLeft"></div>                                 		              		
                    </div>
                    <?php } ?>                  
              	</div>
              </div>
              <?php if($j == 1) { ?>
              <div style="margin-left:20px;"> 
              	<script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 468x60, created 8/2/11 */
google_ad_slot = "5788927251";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
              </div>	
              <?php } ?>
              <?php } ?>
              
          <!-- Shows the page numbers -->
          <!--  <div class="ie6Fix2 pagination">
          	<span><a href="" class="noAffect"><< Previous</a></span>
          	<span><a class="curr" href="#" style="">1</a></span>
            </span><a href="#"><span>2</span></a></span>
            <a href="" class="noAffect">Next >></a>
            <br class="clearLeft" />
          </div>-->
          <div class="ie6Fix2 pagination" style="float:right;"> 
           <div class="leftFloat"><?php echo $paginator->prev('<< Previous', array('class' => 'noAffect'),null, array('class' => 'lightText')); ?>&nbsp;</div>
           <div class="leftFloat paginationNo"><?php echo $paginator->numbers(
					array('class' => '','separator'=>' ','modulus' => '4')
				  );?>          	     
            <br class="clearLeft" />
          </div>
          <div class="leftFloat"><?php echo $paginator->next('Next >>', array('class' => 'noAffect'),null, array('class' => 'lightText')); ?></div> 
          <div class="clearLeft"></div>
          </div>

          <div class="clearRight"></div>
        </div>
      	<!-- All content -->
      	</div>
      	<div style="margin-right:520px">
      	<!-- add sense -->
      		<div>
      		<div class="leftFloat" style="width:160px;">
	      		<div>
	      		<script type="text/javascript"><!--
	google_ad_client = "pub-6426318916029686";
	/* 160x600, created 7/29/11 */
	google_ad_slot = "9808026705";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
				</div>
				<div style="margin-top:20px;">
	      		<script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 160x600, created 7/28/11 */
google_ad_slot = "0042540002";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
				</div>
		</div>
      	<!-- add sense -->      	
      	</div>      	
      </div>      
      <div class="clearBoth">&nbsp;</div>
    </div>      
	<div class="clearLeft">&nbsp;</div>	
 	 <?php echo $this->element('horizontal_bar');?> 
 	 <div>&nbsp;</div>
 	 <div class="catRow ">
     	<?php echo $this->element('categories');?>
   	 </div>
   	 <div>&nbsp;</div>		
 </div>
      