<div>
<div class="box2" style="margin-bottom:10px;">
	<div class="rightFloat strng" style="padding: 10px;" id="regData"> <input type="button" value="Register Now" class="css3But1" onclick="register();"/></div>
    <h1 class="color2"><?php echo $tagData['Tag']['name'];?></h1>
</div>
	
	<?php echo $this->element('rightPackages',array('header' => 'Most Popular Packages','packData' => $packData,'tagCloud' => $tagCloud)); ?>      
      
      <div class="leftCol">
      	<div class="rightFloat" style="width:520px;">
	      	<div style="margin-left:20px;">
	      		<script type="text/javascript"><!--
	google_ad_client = "pub-6426318916029686";
	/* 468x15, created 7/28/11 */
	google_ad_slot = "5729264238";
	google_ad_width = 468;
	google_ad_height = 15;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
	      	</div>
        	<div class="box2" id='messageContent'>
       
          <?php $j=0; foreach($msgData as $message) { $j++; ?>
          		
		    <div class="SampJokesRow">
		        <div class="SampJokesBG">
		          <div class="SampJokesTitle">
					<?php  echo $this->Html->link(__($message['Message']['title'], true), array('controller' => 'messages','action' => 'view',$objGeneral->nameToUrl($message['Category']['name']),$message['Message']['url']), array('rel'=>'nofollow')); ?>
					<!-- <iframe src="http://www.facebook.com/plugins/like.php?href=<?php echo SITE_NAME.'messages/facebook/'.$message['Message']['url']; ?>&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe> --> <br class="clearLeft" />
				  </div>
		          <div class="SampJokes "><?php echo stripslashes($message['Message']['content']); ?> </div>
		          <div class="SampJokesLinks actionLinks2" style="padding-bottom:10px;">
		           	<?php echo $this->element('message_footer',array('id' => $message['Message']['id'],'url' => $message['Message']['url'])); ?>
				  	<br class="clearLeft" />
				  </div>	
              
              		<?php if(true){ ?>
                    <div class="tagged ie6Fix2"> 
                        <div class="leftFloat"> Tagged: </div>
                        <div style="margin-left:50px;">
							<?php //print_r($message);
							$i=0; 
							  foreach($message['Tag'] as $tag) { if($i < 6) {?>
                            <div class="taggLink taggLink1">
                              <div class="taggLinkBG">
                                <div class="taggLinkBorder">
                                  <div class="taggLinkCont"><?php  echo $this->Html->link(__($tagData['Tag']['keyword'].": ".$tag['name'], true), array('controller' => 'tags','action' => 'view',$tag['url'])) ?></div>
                                </div>
                              </div>
                            </div>
                            <?php } else break; $i++;}?>                                
                            <br class="clearLeft" />
                        </div>
                        <br class="clearLeft" />                                 		              		
                    </div>
                    <?php } ?>               	
              	</div>
              </div>
              <?php if($j == 1) { ?>
              <div style="margin-left:20px;">
              <script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 468x60, created 8/2/11 */
google_ad_slot = "8461356166";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
              </div>
              <?php } ?>
              <?php } ?>
              
          <!-- Shows the page numbers -->
<div class="ie6Fix2 pagination" style="float:right;"> 
           <div class="leftFloat"><?php echo $paginator->prev('<< Previous', array('class' => 'noAffect'),null, array('class' => 'lightText')); ?>&nbsp;</div>
           <div class="leftFloat paginationNo"><?php echo $paginator->numbers(
					array('class' => '','separator'=>' ','modulus' => '4')
				  );?><div class="clearLeft">&nbsp;</div>
          </div>
          <div class="leftFloat"><?php echo $paginator->next('Next >>', array('class' => 'noAffect'),null, array('class' => 'lightText')); ?></div> 
          <br class="clearLeft" />
       </div>
       <br class="clearRight" />
          
       </div>
       <br class="clearRight" />
          
        </div>
		<div style="margin-right:520px">
      	<!-- add sense -->
      		<div class="leftFloat" style="width:160px;">
	      		<div >
	      		<script type="text/javascript"><!--
	google_ad_client = "pub-6426318916029686";
	/* 160x600, created 7/29/11 */
	google_ad_slot = "9808026705";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
				</div>
				<div style="margin-top:20px;">
	      		<script type="text/javascript"><!--
google_ad_client = "pub-6426318916029686";
/* 160x600, created 7/28/11 */
google_ad_slot = "0042540002";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
				</div>
        	</div>  
        </div>
        
      <br class="clearRight" />
      
      
     </div>
    
 <?php echo $this->element("horizontal_bar"); ?>
 <div class="catRow" style="padding-top:30px;">
    <?php echo $this->element('categories');?>
 </div>
 <div>&nbsp;</div>    