<div class="loginCont">
  <div>
    <div class="leftFloat dashboardPack">
      <div class="catList">
        <ul id='innerul'>
          
          <li name='innerli'>
          <a href="javascript:void(0);" class="sel">Customer Support</a>
          </li>
					
          <li name='innerli'>
          	<a target="_blank" href="http://blog.smstadka.com/feedback">Feedback</a>
          </li>
					           	
		  <li name='innerli'>
          	<a target="_blank" href="http://blog.smstadka.com/faq">FAQs</a>
          </li>
		  
						
        </ul>
      </div>
    </div>
    
    <div style=" float:left;" id="innerDiv">
      	<?php
			echo $this->element('custSupport');
      	?>
    </div>
    <br class="clearLeft" />
 </div>