<table border="1" cellspacing="0">
	<tr>
		<td>Mobile No.</td>
		<td width="10%">follow-up date</td>
		<td>Last Comment</td>
	</tr>
	<?php foreach($data as $d){ ?>
	<tr>
		<td><a href="http://www.smstadka.com/groups/getUserInfo/<?php echo $d['users']['mobile']; ?>"><?php echo $d['users']['mobile']; ?></a></td>
		<td><?php echo $d['users']['followup']; ?></td>
		<td><?php $c = explode("***",$d['0']['comment']); $cnt = count($c)-2; echo $c[$cnt]; ?></td>
	</tr>
	<?php } ?>
</table>