<div class="loginCont">
  <div>
    <div class="leftFloat dashboardPack">
      <div class="catList">
        <ul id='innerul'>
           <?php            
	           $hiw = 'sel'; $rcc = ''; $cd = '';
	           if(isset($cc) && !isset($redeemed)) {
	           	$hiw = ''; $rcc = 'sel'; $cd = '';
	           }
           ?>
          <li name='innerli'><?php echo $ajax->link( 
    				'How It Works', 
    				array('action' => 'HIW'),
    				array('id' => 'hiw', 'class' => $hiw ,'update' => 'innerDiv','onclick' => 'changeInnerTabClass(this);','complete' => '$("hiw").removeClassName("loader")' )
					); ?> </li>
					
          <?php if(!isset($redeemed)){ ?>
          <li name='innerli'><?php echo $ajax->link( 
    				'Redeem Coupon Code ', 
    				array('action' => 'redeem'),
    				array('id' => 'drafts', 'class' => $rcc ,'update' => 'innerDiv','onclick' => 'changeInnerTabClass(this);','complete' => '$("drafts").removeClassName("loader")' )
					); ?>
		  </li>
		  <?php } ?>

          <li name='innerli'>
          <?php echo $ajax->link( 
    				'Credit Details ', 
    				array('action' => 'creditDetails'),
    				array('id' => 'credit_details', 'class' => $cd ,'update' => 'innerDiv','onclick' => 'changeInnerTabClass(this);','complete' => '$("credit_details").removeClassName("loader");' )
					); ?> 
		  </li>						
        </ul>
      </div>
    </div>
    
    <div style=" float:left;" id="innerDiv">
      	<?php
      		if($cc && !isset($redeemed))
			echo $this->element('redeem',array('cc'=>$cc));
			else
			echo $this->element('couponCodeHIW');
      	?>
    </div>
    <br class="clearLeft" />
 </div>