<script>
function setAction(){
document.delReport.action="/promotions/misscall/"+document.getElementById('number').value;
document.delReport.submit();
}
</script>
<form name="delReport" method="POST">
Misscall No: <input type="text" name="number" id="number" value="<?php if(isset($number))echo $number;?>" />
<input type="button" value="Submit" onclick="setAction()">
</form>
<?php if(isset($count)) { ?>
<div>
Total Voting at number <?php echo $number; ?> is <?php echo $count; ?>
</div>
<?php }?>