<script>
function setAction(){
document.delReport.action="/promotions/userDelivery/"+$('mobno').value;
document.delReport.submit();
}
</script>
<form name="delReport" method="POST">
Mobile No: <input type="text" name="mobno" id="mobno" value="<?php if(isset($mob))echo $mob;?>" />
<input type="button" value="Submit" onclick="setAction()">
</form>
<style>table td { padding:3px; vertical-align:top; }</style>
<h2><?php echo $mob; ?></h2>
<table border="0" width="1100">
	<tr>
		<?php foreach($data as $k => $v){ ?>
		<td >
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="7"><?php echo $k; ?></td>					
				</tr>
				<tr>
					<td>No</td>
					<td width="33%">Message</td>
					<td>Status</td>
					<td>Cause</td>
					<td>Prority</td>
					<td>Resend</td>
					<td>Created</td>
				</tr>
								
					<?php $j=1; foreach($v as $d){ ?>
					<tr>
						<td><?php echo $j;?></td>	
						<td width="33%"><?php echo $d['message']?></td>				
						<td><?php echo $d['status']?></td>
						<td><div style="width:100px;word-wrap:break-word"><?php echo $d['cause'];?></div></td>
						<td><?php echo $d['priority']?></td>
						<td><?php echo $d['resend']?></td>
						<td><?php echo $d['created']?></td>
					</tr>
					
					<?php  $j++; } ?>					
								
			</table>
		</td>
		<?php } ?>
	</tr>
</table>